[messages control]
enable=all
disable=
    fixme,
    global-statement,
    too-few-public-methods,
    no-self-use

[reports]
format=colorized

[basic]
const-rgx=[a-z_]*|[A-Z_]*
docstring-min-length=3