[master]
extension-pkg-whitelist=PyQt5

[messages control]
enable=all
disable=
    fixme,
    global-statement,
    too-few-public-methods,
    no-self-use,
    missing-docstring,
    locally-disabled,
    suppressed-message

[reports]
format=colorized

[basic]
const-rgx=[a-z_]*|[A-Z_]*
docstring-min-length=3
good-names=f,i,ex

[design]
max-attributes = 10

[format]
ignore-long-lines=https?://

[typecheck]
# _CountingAttr: Needed for attrs
# pathlib.PurePath: Detected when we actually have a pathlib.Path
ignored-classes=_CountingAttr,pathlib.PurePath

# distutils: See issue https://github.com/PyCQA/pylint/issues/73
ignored-modules=distutils
