[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

attrs = "*"
click = "*"
pysmb = "*"
keyring = "*"
pluggy = "*"
PyYAML = "*"


[dev-packages]

pytest = "*"
pytest-bdd = "*"
pytest-cov = "*"
coverage = "*"
hypothesis = "*"
pylint = "*"
"flake8" = "*"
mypy = "*"


[requires]

python_version = "3.6"
