[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
click = "*"
pysmb = "*"
keyring = "*"
pyyaml = "*"
stevedore = "*"
appdirs = "*"
requests = "*"
jsonschema = "*"
"pyqt5" = "*"

[dev-packages]
pytest = "*"
pytest-bdd = "*"
pytest-cov = "*"
coverage = "*"
hypothesis = "*"
pylint = "*"
"flake8" = "*"
mypy = "*"
pytest-mock = "*"
pytest-qt = "*"
pytest-xvfb = "*"
pytest-faulthandler = "*"
pytest-responses = "*"

[requires]
python_version = "3.6"
